# Default ignored files
/../../Practise Projects /.idea/shelf/
/../../Practise Projects /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Practise Projects /.idea/httpRequests/
# Datasource local storage ignored files
/../../Practise Projects /.idea/dataSources/
/../../Practise Projects /.idea/dataSources.local.xml
